{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/confirm_delete.css" %}">
{% endblock %}

{% block content %}
<div class="delete-header">
    <h1>Delete Project?</h1>
</div>
<h2 class="delete-prompt">Are you sure you want to delete {{project.name}}?</h2>
<form action="" method="post">
    {% csrf_token %}
    <a class="cancel-btn" href="{% url "project-detail" project.id %}">Cancel</a>
    <button class="delete-btn" type="submit">Delete Project</button>
</form>
{% endblock %}