{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/yarn/yarn-index.css" %}">
{% endblock %}

{% block content %}
<section class="page-header">
    <h1>Yarn Stash</h1>
</section>
<section class="card-container">
    {% for yarn in yarn_list  %}
        <div class="card">
            <div class="card-content">
                <a href="{% url "yarn-detail" yarn.id %}">
                    <h2 class="card-title">{{yarn.yarn_name}}</h2>
                    <p><span>Yarn Quantity:</span>{{yarn.yarn_quantity}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}