main {
    height: calc(100vh - 67.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    height: 40vh;
}

.about-text h1 {
    font-family: var(--ff-heading);
    color: var(--clr-accentOne)
}

.about-text p:not(:first-child) {
    margin-top: 25px;
    margin-bottom: 40px;
}

.about-text a {
    background-color: var(--clr-accentOne);
    font-size: 13px;
    padding: 10px 100px;
    border-radius: 10px;
    transition: 0.5s;
}

.about-text a:hover {
    background-color: var(--clr-accentTwo);
}

.about-features {
    background-color: var(--clr-light);
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.about-features h2 {
    font-family: var(--ff-heading);
    color: var(--clr-accentOne);
}

.about-features ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-top: 40px;
}

.about-features li {
    border: 1px solid var(--clr-accentTwo);
    border-radius: 10px;
    max-width: 150px;
    height: 300px;
    padding: 20px;
}